@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: #050505;
  color: #ffffff;
  font-family: var(--font-mono);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
